body{
    
    background-color: rgb(125, 197, 83);
    
}
#headerSection{
    padding: 5px;
}
#headerSection{
    font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px ;
}
#dropbox{
    padding: 10px;
    border-radius: 5px ;
    width: 12%;
    border: 2px solid black;
}
#loginbt{
    padding: 5px;
    border-radius: 5px ;
    background-color: #2995dd;
    font-size: 15px;
    color: white;
}